.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: scroll;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: rgb(255, 255, 255);
}

.dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  background-color: white;
  font-size: 20pt;
  animation: disappear 2.5s ease-in-out infinite;

}

.dot:nth-child(0){
  animation-delay: 0s;
}
.dot:nth-child(1){
  animation-delay: 0.2s; 
}
.dot:nth-child(2){
  animation-delay: 0.4s;
}
.dot:nth-child(3){
  animation-delay: 0.6s;
}

@keyframes disappear {
  0%,100%{
    transform:scale(.02);
  }
  50%{
    transform:scale(1);
  }

}

.background{
  min-height: 90vh;
  min-width: 100vw;
  max-height: 90vh;
  background-attachment:fixed;
  background-position:center;
  background-repeat: no-repeat;
  z-index: 0;
  position: relative;
  background-size: cover;
  margin-top: -20px;
  margin-bottom: -5vh;
}



.banner-container{
  position: relative;
  padding-left: 0;
  background: rgb(0, 0, 0);
}

.Top-Banner {
  position: sticky;
  width: 100%;
  height: 100vh;
  display: block; 
  background-attachment: fixed;
}

.Nav-Banner {
  position:absolute;
  right: 0.2%;
  margin-top: 6%;
  background: rgb(255, 255, 255);
}

.button-overlay{
  position: sticky;
  top: 10px;
  margin-right: 3%;
  display:flex;
  flex-direction: column;
  align-items:center;
  z-index: 100;
  margin-top: -15%;
  margin-left: 85%;
  height: 30vh;
}

#Top-Banner-2 {
  background-image: url(./Pictures/BlankProfile.png);
  background-size: cover;
  width: 80px;
  height: 80px;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position:relative;
  object-position: center;
}

@keyframes circle-square{
  from {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    clip-path: circle(71%);
  }
  to { 
    background-image: url(./Pictures/SmallOption.png);
    border-radius: 10%;
    width: 60px;
    height: 60px;
  }
}

@keyframes square-circle{
  from {
    border-radius: 10%;
    width: 60px;
    height: 60px;
  }
  to { 
    width: 80px;
    height: 80px;
    border-radius: 50%;
    clip-path: circle(71%);
    background-image: url(./Pictures/BlankProfile.png);
  }
}

.button-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 2.5%;
  position: relative;
}

/* Search bar */
.search-section{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Adjust this to control the width */
  border-radius: 5px;
}

.search-bar-container {
  display: flex;
  align-self: center;
  width: 35%;
  background-color: #3a373705;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgb(20, 19, 19);
}

.search-input {
  flex-grow: 1;
  background-color: #fff;
}

.search-button {
  flex-direction: column;
  margin-left: 15px;              /* Space between button and input */
  background-color: #4f59dd;      
  color: #ffffff;                 
  border: none;                    /* Remove default border */
  border-radius: 5px;             /* Rounded corners */
  padding: 10px 20px;             
  font-size: 16px;                 
  cursor: pointer;                 /* Change cursor to pointer */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.search-button:hover {
  background-color: #3b47b8;       /* Darker color on hover */
  transform: scale(1.05);        
}

.search-button:focus {
  outline: none;                  /* Remove focus outline */
  box-shadow: 0 0 5px rgba(79, 89, 221, 0.5); /* Add focus shadow */
}

.error-message {
  color: red; 
  margin-top: 5px; 
  font-size: 14px; 
}

.description {
  position: relative;
  flex-direction: row;
  margin-left: 20px;
  color: #fffefe;
  font-size: calc(16px + 1vw);
}


/* Airport Bar */
.Airport-search-bar {
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Adjust this to control the width */
  border-radius: 5px;
}

.Airport-search-bar input {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.suggestions {
  position: absolute;
  top: 65%;
  background-color: white;
  border: 1px solid #ccc;
  width: 41.8%; 
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
}

.suggestions button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: #f9f9f9;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
}

.suggestions button:hover {
  background-color: #e6e6e6;
}



/* Start of second row that will contain the left segment with settings buttons and containers for ticket information*/


.LeftComponent {
  position: flex;
  width: 100px;
  height: 100vh;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(233, 116, 116);
  margin-top: auto;
  flex-direction: row;
  align-items: left;
}

.Second-Row{
 
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: rgb(15, 15, 15); 
  padding-left: 1%;
  box-sizing: border-box;
}

.Second-Row-Ticket-Background{
  flex: 1;
  position: relative;
  width: 100vw;
  height: auto;
  background-color: rgb(15, 15, 15); 
}

.Ticket-Box{
  width: 99%;
  height: 15vh;
  padding-bottom: 10%;
  background-color: rgb(255, 255, 255); 
  border-radius: 8px;
}

.Settings-Button{
  width: 75px;
  height: 50px;
  color: rgb(3, 3, 3);
  align-self: left;
  border-radius: 8px;
  flex-direction: row;
}

.Search-Button{
  width: 75px;
  height: 50px;
  color: rgb(5, 5, 5);
  align-self: left;
  border-radius: 8px;
  flex-direction: row;
}

.Return-Button{
  width: 75px;
  height: 50px;
  color: blue;
  margin-bottom: 5px;
}

.About-Us{
  width: 100%;
  height: 400px;
  text-align: center;
}

.About-Us-Background{
  background-image: linear-gradient(black, rgb(168, 168, 168));
}

.Word-Color{
  position: relative;
  font-size: calc(4px + 1vw);
  background: transparent;
  color: #000;
  bottom: 0px;
}

.blank{
  height: auto;
}

/* Details Popover Styling: */
.details-popover {
  background-color: #f8f9fa; 
  border: 1px solid #686f75; 
  border-radius: 0.25rem; 
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); 
}

.details-popover .popover-header {
  background-color: #dfe4e9; 
  border-bottom: 1px solid #686f75; 
  border-top-left-radius: 0.25rem; 
  border-top-right-radius: 0.25rem; 
  text-align: center;
  padding: 0.5rem; 
  margin: 0;
  font-weight: 400; 
}

.details-popover .popover-body {
  color: #212529; 
  padding-left: 0.5rem; 
  padding-right: 0.5rem;
  margin: 0;
}

/* Contact Components */ 
.contact-info {
  color: white;
  background-color: rgba(0, 0, 0, 0.0); 
  padding: 20px; 
  border-radius: 5px;
  text-align: center;
}